{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    {% include 'menu.html' %}
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col">
                        <form method="post" id="form_painel">
                            <div id="csrf_painel">{% csrf_token %}</div>
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Histórico de Fechamentos
                                        <div style="float: right;">
                                            <input type="text" class="search-form" autocomplete="off" name="q" value="{{ request.GET.q }}" placeholder="Pesquisar...">
                                            <button type="submit" class="btn btn-success" id="search_historico"><i class="fa-solid fa-magnifying-glass"></i></button>
                                        </div>
                                    </h4>
                                </div>
                                <div class="content">
                                    <div class="table-full-width">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 25%;">No</th>
                                                    <th style="width: 25%;">Total</th>
                                                    <th style="width: 20%;">Atual</th>
                                                    <th style="width: 15%;">Vigência</th>
                                                    <th style="width: 15%;">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in formacoes %}
                                                    <tr>
                                                        <td>{{i.id_grupo}} - PPR {{i.vigencia}}</td>
                                                        <td style="padding-left: 0rem;">R${{i.total|floatformat:"2g"}}</td>
                                                        {% if i.status %}
                                                            <td style="padding-left: 1.5rem;"><i style="color: green;" class="fa-solid fa-circle-check"></i></td>
                                                        {% else %}
                                                            <td style="padding-left: 1.5rem;"><i style="color: red;" class="fa-solid fa-circle-xmark"></i></td>
                                                        {% endif %}
                                                        <td style="padding-left: 1.5rem;">{{i.vigencia}}</td>   
                                                        <td style="padding-left: 2.5rem;">
                                                            <button type="submit" name="visualizar_fechamento" value="{{i.id_grupo}}" style="border: 0px solid; background-color: transparent;"><i class="fa-solid fa-file-arrow-down"></i></button>                                                            
                                                        </td>
                                                    </tr>                                         
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}